pipeline/CLONE_LOAD_AZURE_EXPORT.json
{
	"name": "CLONE_LOAD_AZURE_EXPORT",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata_Sample_Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_Sample_Folder').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_Sample_To_Azure",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "container1/Samples/@{activity('Lookup1').output.firstRow.FILENAME}"
								},
								{
									"name": "Destination",
									"value": "@{activity('Lookup1').output.firstRow.TARGET_SCHEMA}.@{activity('Lookup1').output.firstRow.TARGET_TABLE}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "AzureBlobStorage1",
											"type": "LinkedServiceReference"
										},
										"path": "loggingfolder"
									}
								},
								"translator": {
									"value": "@json(activity('Lookup1').output.firstRow.JSON_MAPPING)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "Load_Samples_DataSet",
									"type": "DatasetReference",
									"parameters": {
										"P_FileName": {
											"value": "@activity('Lookup1').output.firstRow.FILENAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"P_TableName": {
											"value": "@activity('Lookup1').output.firstRow.TARGET_TABLE",
											"type": "Expression"
										},
										"P_SchemaName": {
											"value": "@activity('Lookup1').output.firstRow.TARGET_SCHEMA",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Export_Azure_To_Blob",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Archive_File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{activity('Lookup1').output.firstRow.TARGET_SCHEMA}.@{activity('Lookup1').output.firstRow.TARGET_TABLE}"
								},
								{
									"name": "Destination",
									"value": "container1/Samples/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[Export_Data]",
									"storedProcedureParameters": {
										"Table_Name": {
											"type": "String",
											"value": {
												"value": "@activity('Lookup1').output.firstRow.TARGET_TABLE",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"P_TableName": {
											"value": "@activity('Lookup1').output.firstRow.TARGET_TABLE",
											"type": "Expression"
										},
										"P_SchemaName": {
											"value": "@activity('Lookup1').output.firstRow.TARGET_SCHEMA",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Export_Samples_Data",
									"type": "DatasetReference",
									"parameters": {
										"P_FileName": {
											"value": "@concat(activity('Lookup1').output.firstRow.TARGET_TABLE,utcnow(),'.csv')",
											"type": "Expression"
										},
										"P_FolderName": "output/Exports_Sample"
									}
								}
							]
						},
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM dbo.ADF_COPY_STORAGE_TABLE WHERE FILENAME = '@{item().name}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"P_TableName": "ADF_COPY_STORAGE_TABLE",
										"P_SchemaName": "dbo"
									}
								}
							}
						},
						{
							"name": "Archive_File",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy_Sample_To_Azure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Export_Samples_Data",
									"type": "DatasetReference",
									"parameters": {
										"P_FileName": {
											"value": "@activity('Lookup1').output.firstRow.TARGET_TABLE",
											"type": "Expression"
										},
										"P_FolderName": "output/Exports_Sample"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Export_Samples_Data",
									"type": "DatasetReference",
									"parameters": {
										"P_FileName": {
											"value": "@concat(activity('Lookup1').output.firstRow.TARGET_TABLE,formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'),'.csv')",
											"type": "Expression"
										},
										"P_FolderName": "output/Archive"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata_Sample_Folder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Delete2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SampleFolderDataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Archive_exports",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "output/Exports_Sample",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Archive_Export",
						"type": "DatasetReference",
						"parameters": {
							"P_FolderName": "output/Exports_Sample"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Archive_Export",
						"type": "DatasetReference",
						"parameters": {
							"P_FolderName": "output/Archive"
						}
					}
				]
			},
			{
				"name": "Delete2",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "TRUNCAT_TARGET_TABLES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Archive_Export",
						"type": "DatasetReference",
						"parameters": {
							"P_FolderName": "output/Exports_Sample"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "container1/output/LOG"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": false,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "TRUNCAT_TARGET_TABLES",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Archive_exports",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_LoadSample",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE [dbo].[CUSTOMER_SAMPLE];\nTRUNCATE TABLE [dbo].[ORGANIZATION_SAMPLE];\nTRUNCATE TABLE [dbo].[PEOPLE_SAMPLE];"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [
			"Snowflake Pipeline"
		],
		"lastPublishTime": "2024-07-14T10:25:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}